In [1]:
#nomor 1
from statistics import mean

array_of_dictionaries = [{
    "name": "Budi",
    "age": 10,
    "test_scores": [100.0, 98.0, 89.0]
},
{
    "name": "Charlie",
    "age": 12,
    "test_scores": [90.0, 100.0]
}]

def get_student_average(dictionary_list):
  name=""
  age=""
  avg=0
  for element in array_of_dictionaries:
    for attribute in element:
      if attribute == 'name':
        name = element[attribute]
      if attribute == 'age':
        age=element[attribute]
      if attribute == 'test_scores':
        avg = round(mean(element[attribute]),2)

    print("Pelajar ", name, "dengan umur ", age, " mendapatkan nilai rata-rata ", avg)
  
  return

get_student_average(array_of_dictionaries)

Pelajar  Budi dengan umur  10  mendapatkan nilai rata-rata  95.67
Pelajar  Charlie dengan umur  12  mendapatkan nilai rata-rata  95.0

In [2]:
#nomor 2 
def get_student_min_score(dictionary_list):
  name=""
  age=""
  for element in array_of_dictionaries:
    for attribute in element:
      if attribute == 'name':
        name = element[attribute]
      if attribute == 'age':
        age=element[attribute]
      if attribute == 'test_scores':
        min_score = min(element[attribute])

    print("Pelajar ", name, "dengan umur ", age, " mendapatkan nilai terkecil ", min_score)
  
  return

get_student_min_score(array_of_dictionaries)

Pelajar  Budi dengan umur  10  mendapatkan nilai terkecil  89.0
Pelajar  Charlie dengan umur  12  mendapatkan nilai terkecil  90.0

In [3]:
#nomor 3
def get_student_max_score(dictionary_list):
  name=[]
  age=[]
  max_score=[]
  for element in array_of_dictionaries:
    for attribute in element:
      if attribute == 'name':
        name = element[attribute]
      if attribute == 'age':
        age=element[attribute]
      if attribute == 'test_scores':
        max_score = max(element[attribute])

    print("Pelajar ", name, "dengan umur ", age, " mendapatkan nilai terbesar ", max_score)
  
  return

get_student_max_score(array_of_dictionaries)

Pelajar  Budi dengan umur  10  mendapatkan nilai terbesar  100.0
Pelajar  Charlie dengan umur  12  mendapatkan nilai terbesar  100.0

In [4]:
#nomor 4
name, age, score = [], [], []
def get_max_score_by_student(dictionary_sample, student_name):
  for i in dictionary_sample:
    name.append(i['name'])
    age.append(i['age'])
    score.append(i['test_scores'])
  
  for i,j in enumerate(name):
    if student_name == j:
      index = i
  
  print("Pelajar {0} dengan umur {1} mendapatkan nilai terbesar {2}".format(name[index], age[index], max(score[index])))
get_max_score_by_student(array_of_dictionaries, 'Charlie')

Pelajar Charlie dengan umur 12 mendapatkan nilai terbesar 100.0

In [5]:
#nomor 5
def get_all_time_max_avg_score(dictionary_list):
  name, age, score = [], [], []
  for i in dictionary_list:
    name.append(i['name'])
    age.append(i['age'])
    score.append(round(mean(i['test_scores']),2))

  maximum = max(score)

  for index, element in enumerate(score):
    if maximum == element:
     a = index

  print("Pelajar {0} dengan umur {1} mendapatkan nilai rata-rata terbesar, yaitu {2}".format(name[a], age[a], score[a]))
  return

get_all_time_max_avg_score(array_of_dictionaries)

Pelajar Budi dengan umur 10 mendapatkan nilai rata-rata terbesar, yaitu 95.67

In [6]:
#nomor 6
def add_student(dictionary_list,student_dictionary):
  dictionary_list.append(student_dictionary)
  return dictionary_list

update_dictionary = add_student(array_of_dictionaries, {"name": "Doddy", "age": 13, "test_score": [100.0, 100.0, 100.0]})
print(update_dictionary)

[{'name': 'Budi', 'age': 10, 'test_scores': [100.0, 98.0, 89.0]}, {'name': 'Charlie', 'age': 12, 'test_scores': [90.0, 100.0]}, {'name': 'Doddy', 'age': 13, 'test_score': [100.0, 100.0, 100.0]}]