No. 1

In [3]:
numbers=[]

for i in range(10):
  numbers_baru = i + 1
  numbers.append(numbers_baru)

print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
numbers = []

for i in range(1, 11):
  numbers.append(i)
  print(i)

1
2
3
4
5
6
7
8
9
10

No. 2

In [7]:
numbers_plus2=[]
for i in numbers:
  i += 2
  numbers_plus2.append(i)

print(numbers_plus2)

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [8]:
# cara lain
for index, number in enumerate(numbers):
  numbers[index] = number + 2
numbers

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

No. 3

In [10]:
for i in range(len(numbers_plus2)):
  if numbers_plus2 [i]%2==1:
    numbers_plus2 [i]+=1

numbers_even = numbers_plus2
print(numbers_even)

[6, 6, 8, 8, 10, 10, 12, 12, 14, 14]

In [15]:
# cara lain
for index, number in enumerate(numbers):
  if number % 2 != 0:
    numbers[index] = number + 1
numbers

[6, 6, 8, 8, 10, 10, 12, 12, 14, 14]

No. 4

In [13]:
n=0
numbers_even.sort()
for i in numbers_even:
  if i < 5:
    n += 1

numbers_than5=numbers_even[n:]
print(numbers_than5)

[6, 6, 8, 8, 10, 10, 12, 12, 14, 14]

In [18]:
# cara dari pengajar
numbers = [number for number in numbers if number >= 5]
numbers

[6, 6, 8, 8, 10, 10, 12, 12, 14, 14]

No. 5

In [19]:
for index, number in enumerate(numbers):
  print("Angka ke-" + str(index) + " bernilai " + str(number))

Angka ke-0 bernilai 6
Angka ke-1 bernilai 6
Angka ke-2 bernilai 8
Angka ke-3 bernilai 8
Angka ke-4 bernilai 10
Angka ke-5 bernilai 10
Angka ke-6 bernilai 12
Angka ke-7 bernilai 12
Angka ke-8 bernilai 14
Angka ke-9 bernilai 14

No. 6

In [20]:
numbers_even2 = [element for element in numbers_than5 if element % 2 == 0]
for index, element in enumerate(numbers_even2):
  print("Angka ke-" + str(index) + " bernilai " + str(element))

Angka ke-0 bernilai 6
Angka ke-1 bernilai 6
Angka ke-2 bernilai 8
Angka ke-3 bernilai 8
Angka ke-4 bernilai 10
Angka ke-5 bernilai 10
Angka ke-6 bernilai 12
Angka ke-7 bernilai 12
Angka ke-8 bernilai 14
Angka ke-9 bernilai 14

In [21]:
# cara lain
for index, number in enumerate(numbers):
  print("Angka ke-" + str(index) + " bernilai " + str(number))

Angka ke-0 bernilai 6
Angka ke-1 bernilai 6
Angka ke-2 bernilai 8
Angka ke-3 bernilai 8
Angka ke-4 bernilai 10
Angka ke-5 bernilai 10
Angka ke-6 bernilai 12
Angka ke-7 bernilai 12
Angka ke-8 bernilai 14
Angka ke-9 bernilai 14